<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="backClick()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar class="ion-no-margin ion-no-padding" (ionChange)="search($event)" debounce="3"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list class="ion-no-padding">
    <ion-item-group>
      <ion-item-divider>
        <ion-list-header>
          <ion-icon slot="start" name="list"></ion-icon>
          <ion-label>{{Title}}</ion-label>
        </ion-list-header>
      </ion-item-divider>
      <ion-item button (click)="returnSelect(x)" lines="full" *ngFor="let x of Items | filterSearchPipe:textSearch ">
        <ion-thumbnail *ngIf="tumbnails()">
          <img [src]="getImg(x.urlPage)">
        </ion-thumbnail>
        <ion-label class="ion-margin">{{x.name}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>