<ion-list class="ion-no-padding">
  <ion-card button *ngFor="let item of Vehicles; let i = index"  class="ion-no-padding">
    <ion-card-content class="ion-no-padding">
      <ion-item>
        <ion-icon (click)="delete(i,item.Id)" name="close" slot="end" class="carrousel" ></ion-icon>
        <ion-label position="floating" >{{item.Id}}#</ion-label>
        <ion-input readonly="true" (click)="cardClick(item)" class="ion-no-margin ion-no-padding ion-text-center" [value]="item.Name"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-list>