<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="backClick()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>List</ion-title>
    <ion-buttons slot="end" *ngIf="AddElements">
      <ion-button (click)="addComponent()">
        <ion-icon slot="end" name="Add"></ion-icon>
        <ion-label>add</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="ion-no-margin ion-no-padding" (ionChange)="search($event)" debounce="3"></ion-searchbar>
  <ion-list>
    <ion-item button (click)="returnSelect(item)" lines="none" *ngFor="let item of Items | filterSearchPipe:textSearch "   >
      <ion-thumbnail *ngIf="item.urlPage">
        <img [src]="'//logo.clearbit.com/'+item.urlPage+'?size=56'" />
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
