ion-content {
  --background: transparent;
}
ion-card.carrousel {
  width: calc(100px);
  height: calc(160px);
  display: flex;
  ion-icon.carrousel {
    z-index: 5;
    font-size: 2.5em;
    position: absolute;
    right: 0%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

ion-slides {
  width: 100%;
  ion-slide {
    width: unset !important;
  }
}

ion-card.carrousel#slideConstant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-icon {
    font-size: 2.5em;
    border: 3px solid gray;
    border-radius: 5px;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 52%;
    padding-bottom: 52%;
  }
}

.cameraPreview {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  --background: transparent !important;
  align-items: center;
  justify-content: center;
}

.cameraOff {
  display: none;
}

#video {
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}

#capture {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: 15;
}

#close {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 175px);
  width: 50px;
  height: 50px;
  z-index: 15;
}

#flip {
  position: absolute;
  bottom: 30px;
  left: calc(50% + 125px);
  width: 50px;
  height: 50px;
  z-index: 15;
}
.fin {
  position: fixed;
  top: 0%;
}
.img-container{
  background-color:rgba(58, 58, 58, 0.103);
  margin: 10px;
  border: 2px #2dd36f solid;
  border-radius: 15px;
  overflow: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 100%;
  width: 100%;
}
.i {
  position: relative;
  z-index: 1000;
  margin-right: 7px;
  margin-bottom: 7px;
}
.i img{
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

ion-icon.delete{
  position: absolute;
  display: inline;
  top: 0%;
  right: 5%;
  font-size: 1.5em;
}
ion-grid.main{
  height: 90%;
  ion-row:first-child{
    height: 60%;
  }
  ion-row:last-child{
    height: 40%;
  }
}
.ionFooter{
  position: relative;
}
div.item-grid{
  display: grid;
  grid-template-columns: 30% 60%;
  z-index: 1;
  position: relative;
  align-items: center;
  height: 10%;
  margin-top: 15px;
  ion-label{
    align-items: center;
    text-align: center;
  }
  div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    ion-button{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  
}
.show{
  visibility: hidden;
}
@media only screen and (min-height: 400px){
  .show{
    visibility: visible !important;
  }
}