<ion-content >
	<div id="cameraPreview" class="cameraPreview" fullscreen>
    <div id="block" *ngIf="cameraActive" >
      <!--  -->
      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon slot="icon-only" [name]="nameIcon"></ion-icon>
      </ion-button>
      <ion-button (click)="captureImage()" expand="block" id="capture">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button (click)="flipCamera()" expand="block" id="flip">
        <ion-icon slot="icon-only" name="camera-reverse"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-item-group *ngIf="!viewCam">
    
    <ion-item-divider>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-label>Form Components</ion-label>
    </ion-item-divider>

    <ion-item class="ion-no-margin ion-no-padding">
      <ion-label position="">Photos</ion-label>
      <ion-slides [options]="sliderOptions" class="ion-no-margin ion-no-padding">
        <ion-slide>
          <ion-card button (click)="iAdd()" class="carrousel" id="slideConstant">
            <ion-icon name="camera"></ion-icon>
          </ion-card>
          </ion-slide>
        <ion-slide *ngFor="let x of part.images; let i = index">
          <ion-card class="carrousel" >
            <ion-icon (click)="iDelete(x)" name="close" class="carrousel" ></ion-icon>
            <img class="slide" [src]="getSantizeUrl(x.getImage())" alt="">
          </ion-card>
        </ion-slide>
      </ion-slides> 
    </ion-item>

    <ion-item button (click)="getCategories()">
      <ion-label position="floating" >Component</ion-label>
      <ion-input type="text" name="inputComponent" id="" readonly="true" [(ngModel)]="part.category"
      ></ion-input>
    </ion-item>

    <ion-item button (click)="getParts()">
      <ion-label position="floating" >Part</ion-label>
      <ion-input type="text" name="inputPart" id="" readonly="true" [(ngModel)]="part.part"
      ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-icon name="logo-usd" slot="end"></ion-icon>
      <ion-input maxlength="6" minlength="1" type="tel" [(ngModel)]="part.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select Condition: {{this.part.status}}</ion-label>
            <ion-range
              min="1"
              max="6"
              snaps="true"
              ticks="true"
              color="success"
              [value]="statusId"
              (ionChange)="rangeChange($event)"
            >
            </ion-range>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer id="ionFooter" *ngIf="this.part.images.length != 0 && this.part.price != 0 && this.part.category != '' && this.part.part != '' ">
  <ion-toolbar class="ion-text-center">

    <ion-grid class="" fixed>
      <ion-row>
        <ion-col>
          <ion-button (click)="finish()" color="success" expand="block">
            <ion-label>save/exit</ion-label>
            <ion-icon slot="end" name="save"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col *ngIf="editMode == false" >
          <ion-button (click)="cleanForm()" color="primary" expand="block">
            <ion-label>add other</ion-label>
            <ion-icon slot="end" name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>


