ion-slide {
  img.slide {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

ion-slides.content {
  .swiper-slide {
    display: block;
    img{
      height: 50vh;
    }
  }
}

ion-toogle{
  transform: rotate(90deg);
}

ion-icon.component {
  margin-left: -6px;
  margin-right: 10px;
}
