<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalDismiss()">
        <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar cancelButtonIcon="close" showCancelButton="focus" animated></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of this.Vehicles; let index = index">
      <ion-icon (click)="delete(index,item.Id)" name="close" slot="end"  ></ion-icon>
      <ion-label position="floating">{{item.Id}}#</ion-label>
      <ion-input button (click)="cardClick(item)"  readonly="true" [value]="item.Name" class="ion-text-center"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
