<ion-header>
  <ion-toolbar>
    <ion-title>Configurations</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="cog" (click)="editUrl(urlPrimary,urlHeisler)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-margin">
    <ion-label>Strict filter</ion-label>
    <ion-toggle [(ngModel)]="activateFilter" (ionChange)="toogleEvent($event)"></ion-toggle>
    <ion-icon slot="end" name="bulb"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="floating">url Primary</ion-label>
    <ion-input disabled="true" [(ngModel)]="urlPrimary"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">url Heisler</ion-label>
    <ion-input disabled="true" [(ngModel)]="urlHeisler"></ion-input>
  </ion-item>
  
  <ion-list lines="none" class="ion-no-padding">
    <ion-item button *ngFor="let item of templateItems">
      <ion-label>{{item.title}}</ion-label>
      <ion-icon slot="start" [name]="item.icon"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
