<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>manualPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item button (click)="getMakers()" >
    <ion-icon slot="start" name="hammer"></ion-icon>
    <ion-label position="floating">Maker</ion-label>
    <ion-input
      type="text"
      placeholder="Select Maker"
      [(ngModel)]="Vehicle.Maker"
      readonly="true"
      autocapitalize="true"
    ></ion-input>
  </ion-item>

  <ion-item (click)="selectYear()">
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-label position="floating">Year</ion-label>
    <ion-input button type="number" placeholder="Select Year" readonly="true" [(ngModel)]="Vehicle.Year"></ion-input>
  </ion-item>

  <ion-item (click)="getModels()">
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/018-garage.svg"
    ></ion-icon>
    <ion-label position="floating">Model</ion-label>
    <ion-input
      type="text"
      placeholder="Select Model"
      [(ngModel)]="Vehicle.Model"
      readonly="true"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/020-checklist.svg"
    ></ion-icon>
    <ion-label position="floating">Trim</ion-label>
    <ion-input
      type="text"
      placeholder="Insert trim"
      [(ngModel)]="Vehicle.Trim"
    ></ion-input>

  </ion-item>
  
  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/035-engine.svg"
    ></ion-icon>
    <ion-label position="floating">Cylinders</ion-label>
    <ion-select placeholder="Insert cylinders" [(ngModel)]="tempCylinder" interface="popover">
      <ion-select-option value="2">2 - Cylinder </ion-select-option>
      <ion-select-option value="3">3 - Cylinder</ion-select-option>
      <ion-select-option value="4">4 - Cylinder</ion-select-option>
      <ion-select-option value="6">6 - Cylinder</ion-select-option>
      <ion-select-option value="8">8 - Cylinder</ion-select-option>
      <ion-select-option value="12">12 - Cylinder</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/047-car-3.svg"
    ></ion-icon>
    <ion-label position="floating">Body Class</ion-label>

    <ion-select placeholder="Insert type vehicle" [(ngModel)]="tempBody" interface="action-sheet">
      <ion-select-option value="SEDAN">SEDAN </ion-select-option>
      <ion-select-option value="COUPE">COUPE</ion-select-option>
      <ion-select-option value="HATCHBACK">HATCHBACK</ion-select-option>
      <ion-select-option value="CROSSOVER">SPORTS</ion-select-option>
      <ion-select-option value="MINIVAN">MINIVAN</ion-select-option>
      <ion-select-option value="VAN">VAN</ion-select-option>
      <ion-select-option value="PICKUP">PICKUP</ion-select-option>
      <ion-select-option value="WAGON">WAGON</ion-select-option>
      <ion-select-option value="CONVERTIBLE">CONVERTIBLE</ion-select-option>
      <ion-select-option value="SPORTS CAR">SPORTS CARS</ion-select-option>
      <ion-select-option value="SPORT-UTILITY VEHICLE (SUV)">SPORT-UTILITY VEHICLE (SUV)</ion-select-option>
      <ion-select-option value="MULTI-UTILITY VEHICLE (MUV)">MULTI-UTILITY VEHICLE (MUV)</ion-select-option>
      <ion-select-option value="MULTIPURPOSE PASSENGER VEHICLE (MPV)">MULTIPURPOSE PASSENGER VEHICLE (MPV)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/030-chassis.svg"
    ></ion-icon>
    <ion-label position="floating">Type Vehicle</ion-label>
    <ion-select placeholder="Insert type vehicle" [(ngModel)]="tempType"  interface="action-sheet">
      <ion-select-option value="Automobile">Automobile </ion-select-option>
      <ion-select-option value="All-Terrain Vehicle (ATV/Four-wheeler)">All-Terrain Vehicle (ATV/Four-wheeler)</ion-select-option>
      <ion-select-option value="Boat Jet Ski">Boat Jet Ski</ion-select-option>
      <ion-select-option value="Camper/Trailer/RV">Camper/Trailer/RV</ion-select-option>
      <ion-select-option value="Commercial Truck">Commercial Truck</ion-select-option>
      <ion-select-option value="Fire Truck">Fire Truck</ion-select-option>
      <ion-select-option value="Fleet Vehicle">Fleet Vehicle</ion-select-option>
      <ion-select-option value="Golf Cart">Golf Cart</ion-select-option>
      <ion-select-option value="Mobile Home">Mobile Home</ion-select-option>
      <ion-select-option value="Moped">Moped</ion-select-option>
      <ion-select-option value="Motorcycle">Motorcycle</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Series</ion-label>
    <ion-icon slot="start" name="car"></ion-icon>
    <ion-input
      type="text"
      placeholder="Insert serie"
      [(ngModel)]="Vehicle.Serie"
    ></ion-input>
  </ion-item>
</ion-content>
  
<ion-footer id="ionFooter">
  <ion-button
    size="large"
    class="ion-margin"
    expand="block"
    fill="outline"
    shape="round"
    (click)="submit()"
  >
    <ion-label>Continue</ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>
