<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="getMakers()">
    <ion-icon slot="start" name="hammer"></ion-icon>
    <ion-label position="floating">Make</ion-label>
    <ion-input
      type="text"
      placeholder="Select Maker"
      [(ngModel)]="Vehicle.Maker"
      readonly="true"
      autocapitalize="true"
    ></ion-input>
  </ion-item>

  <ion-item (click)="selectYear()">
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-label position="floating">Year</ion-label>
    <ion-input
      button
      type="number"
      placeholder="Select Year"
      readonly="true"
      [(ngModel)]="Vehicle.Year"
    ></ion-input>
  </ion-item>

  <ion-item (click)="getModels()">
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/018-garage.svg"
    ></ion-icon>
    <ion-label position="floating">Model</ion-label>
    <ion-input
      type="text"
      placeholder="Select Model"
      [(ngModel)]="Vehicle.Model"
      readonly="true"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/035-engine.svg"
    ></ion-icon>
    <ion-label position="floating">Cylinders</ion-label>
    <ion-select
      placeholder="Insert cylinders"
      [(ngModel)]="Vehicle.Cylinders"
      interface="popover"
    >
      <ion-select-option [value]="2">2 - Cylinder </ion-select-option>
      <ion-select-option [value]="3">3 - Cylinder</ion-select-option>
      <ion-select-option [value]="4">4 - Cylinder</ion-select-option>
      <ion-select-option [value]="6">6 - Cylinder</ion-select-option>
      <ion-select-option [value]="8">8 - Cylinder</ion-select-option>
      <ion-select-option [value]="12">12 - Cylinder</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/020-checklist.svg"
    ></ion-icon>
    <ion-label position="floating">Trim</ion-label>
    <ion-input
      *ngIf="this.filterSlash(this.Vehicle.Trim,[]).length == 0"
      type="text"
      placeholder="Insert trim"
      [(ngModel)]="Vehicle.Trim"
    ></ion-input>

    <ion-select
      *ngIf="this.filterSlash(this.Vehicle.Trim,[]).length >= 1"
      placeholder="Insert trim"
      [(ngModel)]="this.Vehicle.Trim"
      interface="action-sheet"
    >
      <ion-select-option
        autocapitalize
        *ngFor="let item of this.filterSlash(this.Vehicle.Trim,[])"
        [value]="item"
        >{{item}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/047-car-3.svg"
    ></ion-icon>
    <ion-label position="floating">Body Class</ion-label>
    <ion-select
      placeholder="Insert body class"
      (ionChange)="getBodyClass($event)"
      interface="action-sheet"
    >
      <ion-select-option
        *ngFor="let x of filterSlash(Vehicle.Body,this.listBodyClass)"
        [value]="x"
        >{{x | uppercase}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon
      slot="start"
      src="../../../assets/img/svg/030-chassis.svg"
    ></ion-icon>
    <ion-label position="floating">Type Vehicle</ion-label>
    <ion-select
    autocapitalize
      placeholder="Insert type vehicle"
      (ionChange)="getType($event)"
      interface="action-sheet"
    
    >
      <ion-select-option
        *ngFor="let item of this.filterSlash(this.Vehicle.Type,this.listTypeVehicle)"
        [value]="item"
        >{{item | uppercase}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Series</ion-label>
    <ion-icon slot="start" name="car"></ion-icon>
    <ion-input
      type="text"
      placeholder="Insert serie"
      [(ngModel)]="Vehicle.Serie"
    ></ion-input>
  </ion-item>
</ion-content>

<ion-footer id="ionFooter" *ngIf="Vehicle.Maker != '' && Vehicle.Year != 0 && Vehicle.Model != '' && Vehicle.Trim != '' && Vehicle.Cylinders != 0 && Vehicle.Type != '' && Vehicle.Body != '' " id="ionFooter">
  <ion-button
    size="large"
    class="ion-margin"
    expand="block"
    fill="outline"
    shape="round"
    (click)="submit()"
  >
    <ion-label>Continue</ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>
