<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-button (click)="modalList()">
    <ion-icon slot="start" name="list"></ion-icon>
    <ion-label>List</ion-label>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <!-- <ion-checkbox [(ngModel)]="checked" (ionChange)="checkbox(checked)"></ion-checkbox> -->

  <div class="container">
    <div class="itemContainer">
      <img src="../../assets/img/undraw_my_app_grf2.svg" alt="">
    </div>
    <div class="itemContainer">
      <ion-item >
        <ion-icon slot="end" name="search" ></ion-icon>
        <ion-input placeholder="Vin Code" [(ngModel)]="result"></ion-input>
      </ion-item>
    </div>
    <div class="itemContainer">
      <ion-button 
        (click)="searchVin()" 
        fill="outline" 
        size="large">
        <ion-icon slot="start" name="car"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer class="bottom" id="ionFooter">
  <ion-grid >
    <ion-row>
      <ion-col size="6" class="bottomButtom">
        <div class="bottomButtom">
          <ion-button expand="block" color="success" (click)="scan()">
            <ion-icon slot="start" name="scan"></ion-icon>
            Scan
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
       <div class="bottomButtom">
        <ion-button expand="block" color="success" (click)="manualPage()" >
          <ion-icon slot="start" name="globe"></ion-icon>
          Manual
        </ion-button>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
